#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

..container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

ul {
  padding-left: 20px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
