#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lo.card {
  border: 1px solid gray;
  padding: 15px;
  width: 220px;
  margin-bottom: 20px;
}

.avatar img {
  width: 150px;
  border-radius: 50%;
}


